footer 
    .footer__block 
        .block__kontakts 
            p  Почта:
            p  
            p partners@sportfish.ru
            p 
            p Телефон:
            p 
            p +78003584224
        .block__menu 
            a(href="http://") Услуги
            a(href="http://") Справочная информация
                    
