header
    .header
        .header__menu 
            .menu__logo
                a(href="./index.html")
                    img(src="./img/logo.png", alt="")
            .menu__text 
                a.menu__text_a(href="./uslugi.html") Услуги
                a.menu__text_a(href="./information.html") Справочная информация 