doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href= "./styles/indexstule.css")
    body 
        include modules/header
        .wrapper 
            .title__text 
                h2 Типовой договор
            .background__blue
                img(src="", alt="")
            .title__text 
                h2 Частые вопросы
            .response
                p.response__user Почему моих отзывов нет?
                p.response__admin Добрый день. Ваш отзыв будет опубликован в ближайшее время.
            .response
                p.response__user Почему моих отзывов нет?
                p.response__admin Добрый день. Ваш отзыв будет опубликован в ближайшее время.
            .title__text 
                h2 Информация
            .information__container
                .information__link
                    p Законодательная информация
                    .link
                        p Ссылка
                .reference__information
                    p Справочная информация
                    .link
                        p Ссылка





        include modules/footer